.dash {
    display: flex;
    height: 100vh;
    width: 100vw
}
/* 
.sidebar {
    display: grid;
    height: 75%;
    padding: 10px
}

.expand-sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px
}

.expand-sidebar img {
    width: 50px;
    height: auto;
    position: relative
}

.main-section {
    width: 90%
}

.sidebar-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    background: none;
    border: none;
    border-radius: 12px;
    transition: 0.25s linear;
    cursor: pointer
}

.sidebar-btn img {
    height: 50px;
    width: auto;
    margin-bottom: 10px
} */

.main-section {
    height: 100%;
    flex: 1;
}

.user-projects-section {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}